.music-info {
  @media screen and (max-width: 992px) {
    order: 1;
  }
  &__img {
    display: flex;
    max-width: 300px;
    @media screen and (max-width: 600px) {
      max-width: 200px;
    }
  }
  &__title {
    color: #fff;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      margin-right: 5px;
    }
  }
}
.visibility {
  visibility: hidden;
}
