.music-progress {
  text-align: center;
  color: #fff;
  div {
    display: flex;
  }
  &__duration {
    display: flex;
    align-self: center;
    flex: 0 1 500;
    margin: 0 10px;
    min-width: 200px;
    height: 20px;
  }
}
