.music-progress {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0 1 500px;
  color: #fff;

  @media screen and (max-width: 750px) {
    display: flex;
    width: 90%;
    flex: 1 1 auto;
  }

  div {
    display: flex;
  }
  &__defaultBar {
    display: flex;
    align-self: center;
    margin: 0 10px;
    flex: 0 1 500px;

    height: 10px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
  }
  &__progressbar {
    width: 0px;
    background-color: #000;
    display: block;
    border-radius: 10px;
    // display: flex;
    height: 10px;
    z-index: 200;
  }
}
