.music-progress {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0 1 500px;
  @media screen and (max-width: 600px) {
    display: flex;
    flex: 1 1 auto;
    width: 90%;
  }
  color: #fff;
  div {
    display: flex;
  }
  &__defaultBar {
    display: flex;
    align-self: center;
    margin: 0 10px;
    flex: 0 1 500px;
    height: 10px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
  }
  &__progressbar {
    width: 0px;
    background-color: #000;
    display: block;
    border-radius: 10px;
    // display: flex;
    height: 10px;
    z-index: 200;
  }
}
