.music-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.musics {
}
.music {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  // margin: auto 0;
  align-items: center;
  align-items: center;
}
