.musics {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    @media screen and (max-width: 992px) {
      display: flex;
      flex-direction: column;
    }
  }
  &__list {
    width: 80%;
  }
}
